<h1>Bem vindo, {{ student }}</h1>

<p>Voce foi inscrito na GymPoint!</p>
<p>Sua inscrição começa {{ startDate }} e acaba {{ endDate }}</p>
<p>Seu plano é {{ plan }} e o valor total ficou: {{ totalPrice }}</p>
<br>
<br>
<p>Desejamos um bom treino pra voce de todos nós da GymPoint. Aproveite!</p>